<div class="col-1 col-lg-1 col-md-1">
  <input type="checkbox" {{#if status}}checked{{/if}}>
</div>
<div class="col-10 col-lg-10 col-md-10">
  <header>
    <strong>{{subject}}</strong>
  </header>
  <section>
    {{content}}
  </section>
</div>

