<div class="container">
  <input type="search">
  <section class="row">
    <h3 class="col-lg-12 col-md-12 col-12">Today</h3>

    <ul class="date-picker nav nav-pills">
      <li><a href="#">day before yesterday</a></li>
      <li><a href="#">yesterday</a></li>
      <li><a href="#">today</a></li>
      <li><a href="#">tomorrow</a></li>
      <li><a href="#">day after tomorrow</a></li>
    </ul>
  </section>

  <section class="row">
    <h4>3 items in inbox</h4>
    <ul class="tasks"> </ul>
  </section>

  <section class="row">
    <h3>Anytime</h3>
    <ul class="tasks"> </ul>
  </section>



  <ul class="nav nav-pills nav-stacked">
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Today</a></li>
    <li><a href="#">Upcoming</a></li>
  </ul>
</div>

<div id="tasks">

</div>
